<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
    <div class="card-header p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <%= embed_youtube(movie.url) %>
      </div>
    </div>
    <div class="card-body text-dark">
      <p id="movie-<%= movie.id %>">      
        <object>
          <% if movie.watch_by?(current_user) %>
            <%= render "watch", movie: movie %>
          <% else %>
            <%= render "unwatch", movie: movie %>
          <% end %>
        </object>
      </p>
      <p class="card-text mt-3">Lv.<%= @movies.offset_value + 1 + movie_counter %>：<%= movie.title %></p>
    </div>
  </div>
</div>
