<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <%= link_to root_path class: "navbar-brand" do %>
    <%= image_tag("yanbaru_expert_logo.png")  %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto ml-3">
      <li class= "nav-item active dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ruby</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Ruby/Railsテキスト教材</a>
          <a class="dropdown-item" href="#">Ruby/Rails動画教材</a>
        </div>
      </li>
      <% if user_signed_in? %>
        <%= link_to "アカウント編集", edit_user_registration_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>
  </div>
</nav>
